# Ignore Me!
# -------------------------------------

# Dependencies
node_modules

# Build output
build
storybook-static
tsconfig.tsbuildinfo

# Test output
.nyc_output
coverage
coverage_cypress
coverage_jest

# next.js
.next

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

