/**
 * Application styles
 */

.demo-div {
  background-color: theme('palette.shadows.widget');
  min-height: 8px;
}

// --------------------------------------------------------
// Componentry wants

// 2. Button font family config
// 2a. Should buttons have line-height 1??
.btn {
  font-family: $font-family-secondary;
}
