@componentry foundation;
@tailwind base;

@layer base {
  /* Include font smoothing in screens that support it */
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx) {
    html {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }
  }

  /* Code styles not set in prism-night-owl */
  code {
    font-size: theme('fontSize.code');
    font-family: theme('fontFamily.monospace');
  }
}

@componentry components;
@tailwind components;

@tailwind utilities;
