// --- Componentry.design application theme
// --------------------------------------------------------

$font-families: (
  heading: '"Libre Baskerville", serif',
  body: '"Nunito Sans", sans-serif',
  monospace: '"Fira Code", monospace',
);

$font-weights: (
  normal: 400,
  bold: 600,
);

$theme: (
  // --- Breakpoints
  breakpoints:
    (
      xs: 0,
      lg: '1200px',
    ),
  // --- SPACING
  spacing:
    (
      0: 0,
      xs: 0.25rem,
      sm: 0.5rem,
      md: 1rem,
      lg: 1.5rem,
      xl: 3rem,
    ),
  // --- PALETTE
  palette:
    (
      grayscale: (
        100: '#F5F5F5',
        300: '#E0E0E0',
        500: '#9E9E9E',
        700: '#616161',
        900: '#212121',
      ),
      primary: (
        100: '#BDBDDD',
        300: '#686AAF',
        500: '#2B2E90',
        700: '#1D1E7C',
        900: '#01015C',
      ),
      backgrounds: (),
      borders: (),
      shadows: (),
      typography: (
        body: '#c7e3ee',
        love: '#fcc4dd',
      ),
    ),
  // --- Borders
  borders: (),
  // --- SHADOWS
  shadows: (),
  // --- TYPOGRAPHY
  typography:
    (
      'font-families': $font-families,
      'font-weights': (
        heading: 600,
      ),
      'letter-spacings': (
        lead: '0.5px',
      ),
      'line-heights': (
        body: 1.375,
        single: 1,
      ),
      'shadows': (),
    )
);

// --------------------------------------------------------
// Components

$button: (
  variants: (
    secondary: (
      display: inline-flex,
      padding: 0 24px 0 24px,
      height: 32px,
      border-color: #616161,
      color: #616161,
      align-items: center,
      font-size: 14px,
      font-weight: 600,
      line-height: 14px,
      text-transform: uppercase,
    ),
  ),
  sizes: (
    lg: (
      height: 40px,
      font-size: 16px,
    ),
  ),
);

.🅲-button.button-secondary {
  padding: 0 24px;
}

$text: (
  variants: (
    title: (
      font-size: 80px,
      color: #212121,
      font-family: map-get($font-families, heading),
      font-weight: 700,
      line-height: 1,
    ),
    heading-1: (
      font-size: 48px,
      color: #212121,
      font-family: map-get($font-families, heading),
      font-weight: 700,
      line-height: 1.25,
      letter-spacing: 0.5px,
    ),
    lead: (
      font-size: 20px,
      color: #616161,
      font-family: map-get($font-families, body),
      font-weight: map-get($font-weights, normal),
      line-height: 1.5,
      letter-spacing: 0.5px,
    ),
    overline: (
      font-size: 12px,
      font-family: map-get($font-families, body),
      color: #9e9e9e,
      text-transform: uppercase,
    ),
  ),
);
