/* Styles for content sections */

.content {
  max-width: 750px;

  & :global(.C9Y-Text-h1) {
    margin-bottom: theme('spacing.4');
  }

  & :global(.C9Y-Text-h2) {
    margin-top: theme('spacing.6');
    margin-bottom: theme('spacing.2');
  }

  & :global(.C9Y-Text-h3) {
    margin-top: theme('spacing.2');
    margin-bottom: theme('spacing.1');
  }

  & :global(.C9Y-Text-subtitle) {
    margin-top: theme('spacing.3');
    margin-bottom: theme('spacing.1');
  }

  & :global(.C9Y-Text-body) {
    max-width: 700px;
  }
}
