.nav {
  min-width: 250px;
}

.content {
  max-width: 750px;

  & :global(.🅲Text-h1) {
    margin-bottom: theme('spacing[2]');
  }

  & :global(.🅲Text-h2) {
    margin-top: theme('spacing[3]');
    margin-bottom: theme('spacing[1]');
  }

  & :global(.🅲Text-h3) {
    margin-top: theme('spacing[2]');
    margin-bottom: theme('spacing[0.5]');
  }

  & :global(.🅲Text-body) {
    max-width: 700px;
  }
}
