.searchSizer {
  width: 224px;

  /* button is the docsearch button */
  button {
    width: 100%;
    margin: 0; /* override default button margin-left */
  }
}

.logo {
  font-size: 26px; /* arbitrary value that looks good with racing font */
}

.github {
  width: 28px;
  height: 28px;
}
