:local .button {
  font-family: theme('typography.font-families.secondary');
  font-size: var(--font-md);
  color: theme('palette.typography.primary');
  text-shadow: theme('typography.shadows.display');
  opacity: 0.75;
  transition: opacity 0.3s;

  &:hover {
    color: theme('palette.typography.primary');
    opacity: 1;
    text-decoration: none;
  }
}
